.title
    @include title-font
.section
    &__header
        display: flex
        align-items: center
        margin-top: 20px
        margin-bottom: 16px
    &__number
        @include section__number-font
        height: 24px
        width: 24px
        background-color: #EF483E
        border-radius: 50%
        text-align: center
        padding: 2px 8px
        margin-right: 8px
    &__title
        @include section__title-font
    &__hero
        display: flex
        flex-direction: column
    &__input
        &--wide
            margin-bottom: 16px
            height: 44px
        &--short
            width: 25%

label
    @include label-font
    margin-bottom: 8px
